h2{
    margin: 0 auto;
    width: max-content;
}

div{
  
    margin-left:45%;
    margin-right:80%;
    
   position: relative;
}

button{
    margin-left:50%;
    margin-right:50%;
    /* position: relative; */
    width: max-content;

}
