table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.option
{
    width: 30px;
    height: 30px;
    padding : 0px;
    align-content: center;
}
.option:hover
{
    cursor: pointer ;
    color: #607D8B;
    background-color: #607D8B;
    left: .1em;
}

label {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.user .text {
    position: relative;
    top: -3px;
  }
  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }
