<!-- <h2>{{hero.name|uppercase}} Details</h2>
<div><span>id: </span> {{hero.id}}</div>
<div><span> </span> {{hero.name}}</div>

<div>
  <label>name:
        <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div> -->

<!-- <div class="container">

<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}} 
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div> -->

<h2>Employee</h2>
 
<div class="heroesContainer2">
  <label>Employee name:
    <input #heroName />
    <input #heroEmail />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''; addEmail(heroEmail.value); heroEmail.value=''">
    add
  </button>
</div>

<table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Option</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let hero of heroes" [class.selected]="hero === selectedHero">  
      <th>{{hero.id}}</th>
      <th>{{hero.name}}</th>
      <th>{{hero.email}}</th>
      <a routerLink="/detail/{{hero.id}}">
      <span > <th> <img class="option" src="../../assets/show.png" (click)="onselect(user)"/></th></span>
      </a>
      <th><button class="delete" title="delete employee"
        (click)="delete(hero)">x</button></th>
    </tr>

  </table>
  
<!-- <ul class="heroes">
  <div *ngFor="let hero of heroes" class="heroesContainer">
      <li >
          <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
          </a>
        </li>
  </div>
  
</ul> -->

<!-- <button type="button" (click)="myFunction()">click me</button> -->

<!-- <div *ngIf="selectedHero">
  <h3>{{ selectedHero.name | uppercase }} Details</h3>
  <div><span>Id: </span>{{selectedHero.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>

  <div *ngIf="selectedHero.gender==='f'"><span>Gender: </span>Female</div>
  <div *ngIf="selectedHero.gender==='m'"><span>Gender: </span>Male</div>
 
 
</div> -->
<!-- </div> -->

